<article class="main-area" role="main" ng-controller="ConfigController">

	<alert ng-repeat="alert in alerts" type="{{alert.type}}"  close="closeAlert($index)">
    	{{alert.msg}}
    </alert>

	<header>
		<h3 class="main-area-title">
			<span class="glyphicon {{iconArea}}" aria-hidden="true"></span> {{ titleArea | translate }}
		</h3>
	</header>
	
	<tabset>

		<tab heading="básica">
			<ng-include src="'views/config-basic.html'"></ng-include>
		</tab>

		<tab heading="menú">			
			menú: todo
		</tab>


		<tab heading="estilos">
			Configuración estilos: todo
		</tab>

		<tab heading="redes">
			Configuración redes: todo
		</tab>
		
	</tabset>	

</article>