<article class="container-fluid" ng-controller="ConfigController">

	<div class="panel panel-default">
		
		<div class="panel-heading">
			Configuración básica
		</div>
    	
    	<div class="panel-body">
 			
 			<div class="col-md-9">
	 			<div class="input-group">
				    <span class="input-group-addon">
				    	<input type="checkbox" aria-label="...">
				    </span>
				    <input type="text" class="form-control" aria-label="...">
				</div>
			</div>    		
    		<div class="col-md-3">
    			Título del sitio
    		</div>

  		</div> <!-- #panel-body -->

	</div> <!-- #panel basic -->

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
<div class="panel panel-default">
	asdadsas asdasd
	</div> <!-- #panel basic -->