<article class="mainArea" role="main">

<ol class="breadcrumb" aria-labelledby="breadcrumblabel">
	<li ng-repeat="item in breadcrumb">
		<a href="item.link" rel="item.rel">{{item.value}}</a>
	</li>
	<li>
		{{breadcrumbSelected}}
	</li>
</ol>

<h3>El pasaje estándar Lorem Ipsum, usado desde el año 1500.</h3>

<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<div class="bs-callout bs-callout-danger">
    <h4>Changing the collapsed mobile navbar breakpoint</h4>
    <p>The navbar collapses into its vertical mobile view when the viewport is narrower than <code>@grid-float-breakpoint</code>, and expands into its horizontal non-mobile view when the viewport is at least <code>@grid-float-breakpoint</code> in width. Adjust this variable in the Less source to control when the navbar collapses/expands. The default value is <code>768px</code> (the smallest "small" or "tablet" screen).</p>
</div>

<form role="form" class="basicForm">
	<div class="row">
		<div class="col-sm-6">
			<label>Tal dato</label>
		 	<input type="text" class="form-control" aria-label="...">
		</div>
		<div class="col-sm-6">
			<label>Otro</label>
		 	<input type="text" class="form-control" aria-label="...">
		</div>
	</div>

</form>









<br>
Área de trabajo:

novedades, enlzar x curl

<div class="col-md-9">
	 			<div class="input-group">
				    <span class="input-group-addon">
				    	<input type="checkbox" aria-label="...">
				    </span>
				    <input type="text" class="form-control" aria-label="...">
				</div>
			</div>    		
    		<div class="col-md-3">
    			Título del sitio
    		</div>
</article>